src/conf/xml-resources/web-service-references/CFactura/wsdl/localhost_8080/Punto-de-venta-master/CFactura.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CFactura">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Punto-de-venta-master/CFactura?xsd=1"/>
</xsd:schema>
</types>
<message name="crearClasificacion">
<part name="parameters" element="tns:crearClasificacion"/>
</message>
<message name="crearClasificacionResponse">
<part name="parameters" element="tns:crearClasificacionResponse"/>
</message>
<message name="obtenerTipoPagoPorId">
<part name="parameters" element="tns:obtenerTipoPagoPorId"/>
</message>
<message name="obtenerTipoPagoPorIdResponse">
<part name="parameters" element="tns:obtenerTipoPagoPorIdResponse"/>
</message>
<message name="crearFactura">
<part name="parameters" element="tns:crearFactura"/>
</message>
<message name="crearFacturaResponse">
<part name="parameters" element="tns:crearFacturaResponse"/>
</message>
<message name="crearTipoPago">
<part name="parameters" element="tns:crearTipoPago"/>
</message>
<message name="crearTipoPagoResponse">
<part name="parameters" element="tns:crearTipoPagoResponse"/>
</message>
<message name="listarTiposPago">
<part name="parameters" element="tns:listarTiposPago"/>
</message>
<message name="listarTiposPagoResponse">
<part name="parameters" element="tns:listarTiposPagoResponse"/>
</message>
<message name="listarFacturas">
<part name="parameters" element="tns:listarFacturas"/>
</message>
<message name="listarFacturasResponse">
<part name="parameters" element="tns:listarFacturasResponse"/>
</message>
<message name="crearPersona">
<part name="parameters" element="tns:crearPersona"/>
</message>
<message name="crearPersonaResponse">
<part name="parameters" element="tns:crearPersonaResponse"/>
</message>
<message name="crearProveedor">
<part name="parameters" element="tns:crearProveedor"/>
</message>
<message name="crearProveedorResponse">
<part name="parameters" element="tns:crearProveedorResponse"/>
</message>
<portType name="CFactura">
<operation name="crearClasificacion">
<input wsam:Action="http://ws/CFactura/crearClasificacionRequest" message="tns:crearClasificacion"/>
<output wsam:Action="http://ws/CFactura/crearClasificacionResponse" message="tns:crearClasificacionResponse"/>
</operation>
<operation name="obtenerTipoPagoPorId">
<input wsam:Action="http://ws/CFactura/obtenerTipoPagoPorIdRequest" message="tns:obtenerTipoPagoPorId"/>
<output wsam:Action="http://ws/CFactura/obtenerTipoPagoPorIdResponse" message="tns:obtenerTipoPagoPorIdResponse"/>
</operation>
<operation name="crearFactura">
<input wsam:Action="http://ws/CFactura/crearFacturaRequest" message="tns:crearFactura"/>
<output wsam:Action="http://ws/CFactura/crearFacturaResponse" message="tns:crearFacturaResponse"/>
</operation>
<operation name="crearTipoPago">
<input wsam:Action="http://ws/CFactura/crearTipoPagoRequest" message="tns:crearTipoPago"/>
<output wsam:Action="http://ws/CFactura/crearTipoPagoResponse" message="tns:crearTipoPagoResponse"/>
</operation>
<operation name="listarTiposPago">
<input wsam:Action="http://ws/CFactura/listarTiposPagoRequest" message="tns:listarTiposPago"/>
<output wsam:Action="http://ws/CFactura/listarTiposPagoResponse" message="tns:listarTiposPagoResponse"/>
</operation>
<operation name="listarFacturas">
<input wsam:Action="http://ws/CFactura/listarFacturasRequest" message="tns:listarFacturas"/>
<output wsam:Action="http://ws/CFactura/listarFacturasResponse" message="tns:listarFacturasResponse"/>
</operation>
<operation name="crearPersona">
<input wsam:Action="http://ws/CFactura/crearPersonaRequest" message="tns:crearPersona"/>
<output wsam:Action="http://ws/CFactura/crearPersonaResponse" message="tns:crearPersonaResponse"/>
</operation>
<operation name="crearProveedor">
<input wsam:Action="http://ws/CFactura/crearProveedorRequest" message="tns:crearProveedor"/>
<output wsam:Action="http://ws/CFactura/crearProveedorResponse" message="tns:crearProveedorResponse"/>
</operation>
</portType>
<binding name="CFacturaPortBinding" type="tns:CFactura">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTipoPagoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearTipoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTiposPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CFactura">
<port name="CFacturaPort" binding="tns:CFacturaPortBinding">
<soap:address location="http://localhost:8080/Punto-de-venta-master/CFactura"/>
</port>
</service>
</definitions>